<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register QuizTests</title>

    <link href="css/main.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />

    <script type="application/javascript" src="angular/angular.min.js"></script>
    <script type="application/javascript" src="jquery/jquery.min.js"></script>
    <script type="application/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="js/quizTestController.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app ng-controller="insertQuizTestController">
    <div id="container">
        <h1>Associe as questões ao quiz test desejado</h1>

        <div class="half">
            <label for="quizTitle">Título do quiz:</label>
            <textarea id="quizTitle" class="form-control" ng-model="quizTitle"></textarea>

            <label for="quizLevel">Dificuldade do quiz: </label>
            <select id="quizLevel" class="form-control" ng-model="quizLevel" ng-change="onChangeQuizLevel()">
                <option ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]" ng-value="item">{{item}}</option>
            </select>
        </div>

        <div>
            <label>Número máximo de questões (questões não configuradas serão geradas aleatóriamente):
                <input type="text" class="form-control" id="maxQuestions" ng-model="maxQuestions" />
            </label>
        </div>

        <div>
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <ul>
                    <li>
                        <label for="isPublic">Quiz Test público? (por enquanto sempre será verdadeiro)</label>
                        <input id="isPublic" type="checkbox" ng-model="isPublic" />
                    </li>
                    <li>
                        <label for="isAutomatic">O quiz test deverá ser gerado automaticamente?</label>
                        <input id="isAutomatic" type="checkbox" ng-model="isAutomatic" />
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <!-- Mostrar somente questões públicas se isPublic estiver selecionado-->
    <!-- Possibilitar acesso às questões do professor caso seja quiz test privado -->
    <div ng-show="isAutomatic">
        <label>Quais questões serão associadas?

        </label>
    </div>

    <script type="application/javascript" src="js/svgcheckbx.js"></script>
    <script src="js/modernizr.custom.js"></script>
</body>
</html>